body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container {
    padding: 0 16px;
    background-color: white;
    width: 75%;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    margin-top:10px;
    margin-left:10px;
    display:flex;
    flex-direction: row;
  }
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .first{
    width :50%;
    height:80%;
  }

  .second{
    padding:15px;
    width:50%;
    height:80%;
    margin-left:100px;
    background-color: white;
    margin-right: 20px;;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  