*{
	font: 1em Roboto;
}
header{
	width: 100%;
	height: 65vh;
	background: url(images/festive1.jpg);
	background-position: center;
	background-size: cover;
}
.login-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}