*{
	font: 1em Roboto;
}
header{
	width: 100%;
	height: 65vh;
	background: url(images-1/places.jpg);
	background-position: center;
	background-size: cover;
}
.header-title{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	height: 300px;
	font-family: Roboto;
	color: white;
	top: 32%;
	left: 22%;
	transform: (50%, 50%)
}
.login-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}